# Editor Config
# =================================================
# http://editorconfig.org/#download

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
spaces_around_operators = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4

# 2-spaced files
[*.{css,less,sass,html,htm,xhtml,blade.php,scss,yml,yaml}]
indent_size = 2
