.auth {
  background-color: $body-color;
  min-width:        100vw;
  min-height:       fit-content;
  margin:           0 auto;

  .combo-box {
    background-color: $body-color;
    display:          flex;
    flex-direction:   row;
    gap:              2rem;
    justify-content:  center;
    align-items:      center;
    width:            fit-content;
    margin:           0 auto;

    .site-image {
      flex: 1 1 300px;
    }

    .vr {
      display: block;
    }

    .auth-form {
      flex:      1 1 300px;
      min-width: 300px;

      .social-box {
        display:        flex;
        flex-direction: row;

        .btn {
          flex: 1;
        }
      }

      .or-line {
        position: relative;

        .text-circle {
          border:           1px solid $gray-600;
          background-color: $body-color;
          border-radius:    50%;
          padding:          2px;
          max-width:        fit-content;
          position:         absolute;
          top:              -14px;
          left:             44%;
        }
      }

      .auth-btns {
        display:        flex;
        flex-direction: row;

        .btn {
          flex: 1;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .auth {
    .combo-box {
      flex-direction: column;
      margin:         0 auto 0 12px;

      .vr {
        display: none;
      }

      .auth-form {
        width: 100%;
      }
    }
  }
}
