@each $label, $color in $all-colors {
  // Fonts
  .text-#{$label} {
    color: $color !important;
  }

  // Backgrounds
  .background-#{$label} {
    background-color: $color !important;
  }

  // Buttons
  .btn-#{$label} {
    @include button-variant($color, $color);
  }
  .btn-outline-#{$label} {
    @include button-outline-variant($color);
  }

  // Borders
  .bt-#{$label} {
    border-top: 1px solid $color;
  }
  .br-#{$label} {
    border-right: 1px solid $color;
  }
  .bb-#{$label} {
    border-bottom: 1px solid $color;
  }
  .bl-#{$label} {
    border-left: 1px solid $color;
  }

  // Tables
  @include table-row-variant($label, transparentize($color, .5))

  // Misc
  .shadowfilter-#{$label} {
    -webkit-filter: drop-shadow(0px 0px 8px rgba($color, 0.80)) !important;
  }
}
