// Color maps
$pallet-colors: map-merge((
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "pale-green": $paleGreen,
  "teal": $teal,
  "cyan": $cyan,
  "primary": $primary,
  "warning": $warning,
  "info": $info,
  "danger": $danger,
  "success": $success,
  "blue-light": desaturate(lighten($blue, 10%), 15%),
  "indigo-light": desaturate(lighten($indigo, 10%), 15%),
  "purple-light": desaturate(lighten($purple, 10%), 15%),
  "pink-light": desaturate(lighten($pink, 10%), 15%),
  "red-light": desaturate(lighten($red, 10%), 15%),
  "orange-light": desaturate(lighten($orange, 10%), 15%),
  "yellow-light": desaturate(lighten($yellow, 10%), 15%),
  "green-light": desaturate(lighten($green, 10%), 15%),
  "teal-light": desaturate(lighten($teal, 10%), 15%),
  "cyan-light": desaturate(lighten($cyan, 10%), 15%),
  "primary-light": desaturate(lighten($primary, 10%), 15%),
  "warning-light": desaturate(lighten($warning, 10%), 15%),
  "info-light": desaturate(lighten($info, 10%), 15%),
  "danger-light": desaturate(lighten($danger, 10%), 15%),
  "success-light": desaturate(lighten($success, 10%), 15%),
), $theme-colors);

$grays: map-merge((
  "white": $white,
  "gray-lighter": $gray-lighter,
  "gray-light": $gray-light,
  "gray": $gray,
  "gray-dark": $gray-dark,
  "gray-darker": $gray-darker,
  "black": $black,
), $grays);

$all-colors: map-merge($pallet-colors, $grays);
