.navbar-brand {
  color: $white !important;
}

.navbar-nav {
  li {
    font-weight: bold;
  }
}

.navbar {
  .nav-item {
    a.nav-link {
      margin-top:     -8px;
      margin-bottom:  -8px;
      padding-top:    16px !important;
      padding-bottom: 16px !important;
    }

    &:hover {
      a.nav-link {
        background-color: rgba($white, .1);
      }
    }

    &.active {
      a.nav-link {
        border-bottom: 2px solid $primary;
      }
    }
  }
}
