html {
  background-color: $body-bg;
  min-height:       100vh;
  min-width:        100vw;
}

body {
  padding-top: 40px;
  min-height:  100vh;
  min-width:   100vw;
}

body.admin {
  padding-top: 0 !important;
}

.rounded-lg {
  border-radius: .5rem;
}

[v-cloak] {
  display: none;
}

@keyframes alertPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.pulse {
  animation:                 alertPulse 2s;
  animation-iteration-count: infinite;
}

@include media-breakpoint-up(md) {
  .section-columns {
    flex-wrap: nowrap !important;

    .section {
      max-width: 20% !important;
      transform: skewX(20deg);
      height:    85vh !important;

      & > div {
        transform: skewX(-20deg);
      }

      &:hover {
        margin:  -10px -12px;
        z-index: 2;

        .logo {
          width:       105%;
          margin-left: 20px;

          img {
            filter: grayscale(100) brightness(100) drop-shadow(0px 0px 8px rgba($white, 0.80));
          }
        }
      }
    }
  }
}

.section-columns {
  display:        flex;
  flex-direction: row;
  flex-wrap:      wrap;
  overflow-x:     hidden;
  margin-left:    -15px;
  margin-right:   -15px;

  .section {
    flex:            1 1 100%;
    margin:          0 2px;
    height:          75vh;
    z-index:         1;
    max-width:       100%;
    width:           100%;
    position:        relative;
    color:           $gray-light;
    text-decoration: none;

    .logo {
      width:      100%;
      flex:       3;
      margin-top: 25%;
      transition: margin 1s;

      img {
        filter: grayscale(100) brightness(100);
        width:  100%;
      }
    }
  }
}
