.nav-side-menu {
  overflow:         auto;
  font-family:      verdana;
  font-size:        12px;
  font-weight:      200;
  background-color: $gray-dark;
  position:         fixed;
  //top: 55px;
  width:            300px;
  height:           100%;
  color:            #e1ffff;

  .brand {
    background-color: #23282e;
    line-height:      50px;
    display:          block;
    text-align:       center;
    font-size:        14px;
  }

  .toggle-btn {
    display: none;
  }

  ul, li {
    list-style:  none;
    padding:     0px;
    margin:      0px;
    line-height: 35px;
    cursor:      pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
  }

  ul :not(collapsed) .arrow:before, li :not(collapsed) .arrow:before {
    font-family:    FontAwesome;
    content:        "\f078";
    display:        inline-block;
    padding-left:   10px;
    padding-right:  10px;
    vertical-align: middle;
    float:          right;
  }

  ul .active, li .active {
    border-left:      3px solid #d19b3d;
    background-color: #4f5b69;
  }

  ul .sub-menu li.active, li .sub-menu li.active, ul .sub-menu li.active a, li .sub-menu li.active a {
    color: #d19b3d;
  }

  ul .sub-menu li, li .sub-menu li {
    background-color: #181c20;
    border:           none;
    line-height:      28px;
    border-bottom:    1px solid #23282e;
    margin-left:      0px;
  }

  ul .sub-menu li:hover, li .sub-menu li:hover {
    background-color: #020203;
  }

  ul .sub-menu li:before {
    font-family:    FontAwesome;
    content:        "\f105";
    display:        inline-block;
    padding-left:   10px;
    padding-right:  10px;
    vertical-align: middle;
  }

  li {
    .sub-menu li:before {
      font-family:    FontAwesome;
      content:        "\f105";
      display:        inline-block;
      padding-left:   10px;
      padding-right:  10px;
      vertical-align: middle;
    }

    padding-left:  0px;
    border-left:   3px solid $gray-dark;
    border-bottom: 1px solid #23282e;

    a {
      text-decoration: none;
      color:           #e1ffff;
      display:         block;

      i {
        padding-left:  10px;
        width:         20px;
        padding-right: 20px;
      }
    }

    &:hover {
      border-left:        3px solid #d19b3d;
      background-color:   #4f5b69;
      -webkit-transition: all 1s ease;
      -moz-transition:    all 1s ease;
      -o-transition:      all 1s ease;
      -ms-transition:     all 1s ease;
      transition:         all 1s ease;
    }
  }
}

@media (max-width: 767px) {
  .nav-side-menu {
    position:      relative;
    width:         100%;
    margin-bottom: 10px;

    .toggle-btn {
      display:          block;
      cursor:           pointer;
      position:         absolute;
      right:            10px;
      top:              10px;
      z-index:          10 !important;
      padding:          3px;
      background-color: #ffffff;
      color:            #000000;
      width:            40px;
      text-align:       center;
    }
  }
  .brand {
    text-align:   left !important;
    font-size:    22px;
    padding-left: 20px;
    line-height:  50px !important;
  }
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
