// Gray scale
$white: #ffffff;
$black: #000000;

$gray-base: #000000;
$gray-lighter: lighten($gray-base, 93.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray: lighten($gray-base, 33.5%);
$gray-dark: lighten($gray-base, 20%);
$gray-darker: lighten($gray-base, 13.5%);
$gray-darkest: lighten($gray-base, 7%);

// Colorful
$success: #32d296;
$warning: #faa05a;
$danger: #f0506e;
$info: #74adf0;

$site-rocket-purple: #3c334a;

$primary: $site-rocket-purple;
$primary-light: lighten($primary, 15%);
$primary-dark: darken($primary, 15%);
$global-link-color: $primary-light;
$global-link-hover-color: lighten($primary, 30%);
$global-primary-background: $primary-light;
