.admin-powers {
  .values {
    display:        flex;
    flex-direction: row;
    margin-left:    .5rem;
  }

  .values div {
    flex: 1;
  }

  .points-table tr {
    border-bottom: 1px solid grey;
  }

  .points-table td {
    width:         25px;
    border-right:  1px solid grey;
    padding-left:  .25rem;
    padding-right: .25rem;
    text-align:    center;
  }

  .points-table td:first-of-type {
    width:      250px;
    text-align: left;
  }
}

.admin-sets, .admin-types {
  .w-25 {
    max-width: 25vh;
  }
}
