.admin-body {
  .user-profile {
    display:               grid;
    grid-template-columns: minmax(50px, auto) minmax(50px, auto);
    grid-template-rows:    minmax(25px, auto) minmax(25px, auto) minmax(50px, auto);
    grid-column-gap:       1rem;
    grid-row-gap:          1rem;

    .user-profile-box {
      background-color: $gray-700;
    }

    > div {
      .title {
        background-color: $gray-800;
        color:            $gray-200;
        padding:          .5rem;
        border-bottom:    1px solid $black;
        font-weight:      bold;
        font-size:        1.25rem;
        letter-spacing:   .25rem;
      }

      .user-data {
        padding: 1rem;
      }
    }

    .details {
      grid-row:    1 / span 1;
      grid-column: 1;
    }

    .permissions {
      grid-row:    2 / span 2;
      grid-column: 1;
    }

    .tokens {
      grid-row:    2;
      grid-column: 2;

      .user-data {
        padding: 0;

        .table {
          .token {
            max-width: 200px;
            width:     200px;
          }
        }
      }
    }

    .timestamps {
      grid-row:    1;
      grid-column: 2;
    }

    .socials {
      grid-row:    3;
      grid-column: 2;
    }
  }
}
